<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplePressAndHoldEnabled</key>
	<false/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleDocumentTypes</key>
    <array>
    
        <!-- 1) Plain Text -->
        <dict>
            <key>CFBundleTypeName</key>
            <string>Plain Text</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>CFBundleTypeIconSystemGenerated</key>
            <integer>1</integer>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>txt</string>
                <string>text</string>
                <string>md</string>
            </array>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.plain-text</string>
            </array>
            <key>NSDocumentClass</key>
            <string>$(PRODUCT_MODULE_NAME).Document</string>
        </dict>
    
        <!-- 2) HTML / XML -->
        <dict>
            <key>CFBundleTypeName</key>
            <string>HTML/XML</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>html</string>
                <string>htm</string>
                <string>xhtml</string>
                <string>xml</string>
            </array>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.html</string>
                <string>public.xhtml</string>
                <string>public.xml</string>
            </array>
            <key>NSDocumentClass</key>
            <string>$(PRODUCT_MODULE_NAME).Document</string>
        </dict>
    
        <!-- 3) Property List -->
        <dict>
            <key>CFBundleTypeName</key>
            <string>Property List</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>plist</string>
            </array>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.apple.property-list</string>
                <string>com.apple.xml-property-list</string>
            </array>
            <key>NSDocumentClass</key>
            <string>$(PRODUCT_MODULE_NAME).Document</string>
        </dict>
    
        <!-- 4) Shell Script -->
        <dict>
            <key>CFBundleTypeName</key>
            <string>Shell Script</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>sh</string>
                <string>bash</string>
                <string>zsh</string>
                <string>ksh</string>
            </array>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.apple.terminal.shell-script</string>
                <string>public.shell-script</string>
                <string>public.script</string>
            </array>
            <key>NSDocumentClass</key>
            <string>$(PRODUCT_MODULE_NAME).Document</string>
        </dict>
    
        <!-- 5) .command (keep Alternate) -->
        <dict>
            <key>CFBundleTypeName</key>
            <string>Command Script</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
        
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>command</string>
            </array>
        
            <key>LSItemContentTypes</key>
            <array>
                <string>com.apple.terminal.shell-script</string>
                <string>public.shell-script</string>
                <string>public.script</string>
                <string>public.text</string>
            </array>
        
            <key>NSDocumentClass</key>
            <string>$(PRODUCT_MODULE_NAME).Document</string>
        </dict>
        
        <!-- 6) TypeScript / JavaScript -->
        <dict>
          <key>CFBundleTypeExtensions</key>
          <array>
            <string>js</string>
            <string>jsx</string>
            <string>mjs</string>
            <string>cjs</string>
            <string>ts</string>
            <string>tsx</string>
            <string>mts</string>
            <string>cts</string>
          </array>
          <key>CFBundleTypeName</key>
          <string>TypeScript/JavaScript</string>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
          <key>LSHandlerRank</key>
          <string>Default</string>
          <key>NSDocumentClass</key>
          <string>$(PRODUCT_MODULE_NAME).Document</string>
        </dict>
    
    </array>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
